[user]
	name = Konstantinos Bairaktaris
	email = kbairak@transifex.com
    signinkey = D051365FF68E4255
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --topo-order
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = nvim
[commit]
    gpgsign = true
